---
import footer from "../data/footer.json";
const {
  heading_line,
  tagline,
  image,
  contact = [],
  social = [],
  links = [],
} = footer;
const words = heading_line.split(" ");
---

<footer class="footer">
  <div class="footer-container">
    <div class="footer-oben">
      <div class="footer-left">
        <h4>{words.map((word) => <span class="heading-word">{word}</span>)}</h4>
        <p>{tagline}</p>
        <div class="footer-btns">
          {
            contact.map((c) => (
              <a class="btn" href={c.href}>
                <i class={c.icon} /> {c.label}
              </a>
            ))
          }
        </div>
      </div>
      <div class="footer-right">
        <div class="footer-social-links">
          {
            social.map((s) => (
              <a href={s.href} target="_blank" rel="noopener">
                <i class={s.icon} />
              </a>
            ))
          }
        </div>
        <img class="thumbs-up" src={image} alt="Daumen hoch Icon" />
      </div>
      <button id="goToTop" title="Go to top">
        <i class="fa-solid fa-arrow-up"></i>
      </button>
    </div>

    <p class="footer-unten">
      {links.map((item) => <a href={item.href}>{item.label}</a>)}
    </p>
  </div>

  <script>
    const mybutton = document.getElementById("goToTop");

    window.onscroll = function () {
      scrollFunction();
    };

    function scrollFunction() {
      if (!mybutton) return;

      if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
      ) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    mybutton?.addEventListener("click", () => {
      document.body.scrollTop = 0; // Safari
      document.documentElement.scrollTop = 0; // Chrome, Firefox, IE, Opera
    });
  </script>
</footer>
